/*
.container {margin-top: 100px;}

h1,h4 {

    margin: 20px;
    border: 2px solid green ;
}


div{
    margin: 100px;

}
p{
    margin: 5px;
}
.radio-inline{
    margin-right: 6px;
    margin-left: 6px;
    padding: 2px;
}
*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.tweet {
    color: rgb(28, 32, 34);
    font: 16px / 1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
	min-height: 200px;
	margin-top: 13px;
}

a#generer {
	color:#fff!important;
	margin: auto;
	border-color: rgb(29, 161, 242);
	border-radius:1rem;
	font-weight:bold;
    background-color: rgb(29, 161, 242);
    min-height: 49px;
    height: 0px;
    cursor: pointer;
}
a#generer:hover{background-color: rgb(26, 145, 218);}

img.fakeAvatar{width: 36px;border-radius: 50%;}
.fakeTweet{padding:20px 20px 11.6px;width:100%;}
.top-10{margin-top:10px;}

.right{float:right;}